<div>
    <div class="row">
        <div class="col-2-md-10 filter-column">
            <div class="parameters" id="from">
                <h3>From</h3>
                <input type="checkbox" name="rgb_in" id="rgb_in" value="rgb" checked class="ghost">
                <label for="rgb_in" class="btn-primary">RGB</label>
                <input type="checkbox" name="rgba_in" id="rgba_in" value="rgba" checked class="ghost">
                <label for="rgba_in" class="btn-primary">RGBA</label>
                <input type="checkbox" name="hex_in" id="hex_in" value="hex" checked class="ghost">
                <label for="hex_in" class="btn-primary">HEX</label>
            </div>
            <div class="parameters" id="to">
                <h3>To</h3>
                <input type="radio" class="ghost" name="format_out" id="rgb_out" value="rgb">
                <label class="btn-primary" for="rgb_out">RGB</label>
                <input type="radio" class="ghost" name="format_out" id="rgba_out" value="rgba">
                <label class="btn-primary" for="rgba_out">RGBA</label>
                <input type="radio" class="ghost" name="format_out" id="hex_out" value="hex">
                <label class="btn-primary" for="hex_out">HEX</label>
            </div>
            <div class="parameters" id="options">
                <h3>Options</h3>
                <label for="absorb_op" title="Only works from RGBA to RGB/HEX">Absorb Opacity</label>
                <input type="checkbox" name="absorb_op" id="absorb_op">
                <p class="small">(Ex: rgba(0, 0, 0, 0.4) on bg #fff -> rgb(153,153,153))</p>
            </div>
            <div class="parameters" id="background">
                <h3>Background</h3>
                <label for="bg" title="Only works from RGBA to RGB/HEX">Bg Color that wil be absorbed with opacity</label>
                <input type="text" name="bg" id="bg" value="#fff">
            </div>
        </div>
        <div class="col-8-md-10">
            <h2>Automatic Converter</h2>
            <p>Convert your css colors</p>
            <label for="colorsCss">Css</label>
            <textarea id="colorsCss" placeholder="Import your css colors in any format (rgb, rgba or hex) Es: --orange: rgba(255, 255, 255, .4);"></textarea>
            <pre id="output" class="hidden"></pre>
            <button id="calculate_btn">CONVERT CSS</button>
        </div>
    </div>
</div>