<a href="/manual">
    <div class="minip">
        <div class="mg">
            <div class="clr"></div>
            <div class="group">
                <span class="text-nowrap">Free tool</span>
            </div>
        </div>
        <div class="av" style="background-image: url('./assets/images/manual-tool.png');"></div>
        <div class="info">
            <name>Manual</name>
            <deets>
                step by step<br>
                css conversion
            </deets>
        </div>
    </div>
</a>
<a href="/automatic">
    <div class="minip">
        <div class="mg">
            <div class="clr"></div>
            <div class="group">
                <span class="text-nowrap">Free tool</span>
            </div>
        </div>
        <div class="av" style="background-image: url('https://pbs.twimg.com/media/DjfSp1BVAAAiEyV.jpg');"></div>
        <div class="info">
            <name>Automatic</name>
            <deets>
                auto-convert<br>
                css
            </deets>
        </div>
    </div>
</a>
<a href="/single">
    <div class="minip">
        <div class="mg">
            <div class="clr"></div>
            <div class="group">
                <span class="text-nowrap">Free tool</span>
            </div>
        </div>
        <div class="av" style="background-image: url('https://pbs.twimg.com/media/DjfSp1BVAAAiEyV.jpg');"></div>
        <div class="info">
            <name>Single</name>
            <deets>
                Convert a<br>
                single color
            </deets>
        </div>
    </div>
</a>