<h1 class="text-center title">Which type of conversion do you want to use?</h1>
<div class="tools container">
    
    <div class="col-3-lg-10">
        <a href="#/manual" class="bg-blue card">
            <img src="./assets/images/manual.png" alt="" class="img-fluidY">
        </a>
        <a href="#/manual" class="area-title">MANUAL</a>
    </div>
    <div class="col-3-lg-10">
        <a href="#/automatic" class="bg-lgray card">
            <img src="./assets/images/auto.png" alt="" class="img-fluidY">
        </a>
        <a href="#/automatic" class="area-title">AUTOMATIC</a>
    </div>
    <div class="col-3-lg-10">
        <a href="#/single" class="bg-yellow card">
            <img src="./assets/images/single.png" alt="" class="img-fluidY">
        </a>
        <a href="#/single" class="area-title">SINGLE</a>
    </div>
</div>
