.filter-column{
    margin: 10px 0;
    border-right: 1px solid var(--green);
    min-height: calc(100vh - 90px - 37px - 20px);
    min-width: 220px;
    padding: 0 10px;
}

#calculate_btn{
    display: block;
    border: none;
    background-color: var(--cream);
    color: var(--white);
    margin: 0 auto;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 1.7rem;
    cursor: pointer;
}

label.btn-primary{
    padding: 6px 13px;
    cursor: pointer;
    transition-duration: 0.2s;
    margin: 0.5rem 0;
}

label.btn-primary:hover{
    transform: scale(1.05);
}

label.btn-primary:active{
    transform: scale(0.95);
}

input:checked + label.btn-primary{
    color: var(--white);
    background-color: var(--blue);
    border-color: var(--blue);
}

