/*STRUCTURE RESULT*/
.result-column{
    flex-grow: 1;
    padding: 30px 50px;
}

/*TEXTAREA*/
.code-area{
    max-width: 100%;
}

#calculate_btn{
    border: none;
    background-color: var(--blue);
    border-radius: 10px;
    padding: 10px 0;
    width: 200px;
    display: block;
    margin: 1rem auto 0;
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .result-column{
        max-width: 100%;
        padding: 30px 10px;
    }
}


