footer{
    height: 32px;
    font-size: 14px;
    padding: 8px 0;
    position: relative;
    border-top: 1px solid var(--green);
}

.logo-right{
    position: absolute;
    padding: 5px;
    right: 0;
    top: 0;
    height: 100%;
    aspect-ratio: 1/1;
}