footer{
    width: 100%;
    font-size: 14px;
    padding: 8px 0;
    position: relative;
    border-top: 1px solid var(--green);
}

.logo-right{
    position: absolute;
    padding: 5px;
    top: 0;
    height: 100%;
    right: 0;
    width: 36px;
}