*,
*::before,
*::after{
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {
    /*COLORS*/
    --white: #fff;
    --cream: #f6bd60;
    --pink: #f5cac3;
    --fucsia: #f28482;
    --green: #84a59d;
    
    /*FONTS*/
    --mono: 'source-code-pro';
    --display: "Comic Sans MS", "sans-serif";

    /*PADDING*/
    --paddingX: 20px;
}

body{
    min-height: 100vh;
    font-family: var(--display);
    color: var(--green);
    background-color: var(--white);
    overflow-x: hidden;
}

main{
    min-height: calc(100vh - 92px - 37px);
    overflow-y: auto;
}

a{
    text-decoration: none;
    color: var(--green);
}

a:hover{
    text-decoration: underline;
}

/*GENERAL CSS*/
.text-center{
    text-align: center;
}

.mx-auto{
    margin: 0 auto;
}

.img-fluidY{
    display: block;
    height: 100%;
}

.text-nowrap{
    text-wrap: none;
}

.black-to-green{
    filter: invert(63%) sepia(5%) saturate(1244%) hue-rotate(115deg) brightness(99%) contrast(88%);
}

.container{
    max-width: 80%;
    margin: 0 auto 0;
    height: 100%;
    padding: 20px 50px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-2-md-10{
    width: 20%!important;
}

.col-8-md-10{
    width: 80%!important;
}

.danger{
    color: rgb(243, 116, 116);
    font-size: 1.1rem;
}

.hidden{
    display: none;
}

.ghost{
    position: absolute;
    opacity: 0;
}
/*BG-COLOR CLASSES*/
.bg-white{
    background-color: var(--white);
}

.bg-cream{
    background-color: var(--cream);
}

.bg-pink{
    background-color: var(--pink);
}

.bg-fucsia{
    background-color: var(--fucsia);
}

.bg-green{
    background-color: var(--green);
}

/*MEDIA QUERIES*/
@media screen and (max-width: 700px) {
    .container{
        max-width: 100%;
        padding: 20px 20px;
    }

    .col-2-md-10{
        width: 100%!important;
    }

    .col-8-md-10{
        width: 100%!important;
    }
}

@media screen and (max-width: 500px) {
    .container{
        max-width: 100%;
        padding: 20px 10px;
    }
}