main{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    row-gap: var(--paddingX);
    padding: var(--paddingX) 0;
}   

main .card{
    max-width: 300px;
    aspect-ratio: 1/1;
    width: 100%;
    margin: 0 5%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/*CARD CSS*/
