main{
    padding-top: 5rem;
}

.title{
    font-size: 50px;
    margin-bottom: 5rem;
}

.subtitle{
    font-size: 25px;
}

.section-description{
    font-size: 16px;
    line-height: 1.4;
    padding-top: 15px;
}

section .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

section img{
    max-width: 400px;
    aspect-ratio: 1/1;
    margin: 0 auto;
    display: block;
}

.order-reverse .container{
    flex-direction: row-reverse;
}

section.order-reverse{
    background-color: var(--lgray);
}