.color-list{
    border-top: 2px solid var(--blue);
    border-bottom: 2px solid var(--blue);
}

.color-row{
    position: relative;
    padding: 0.7rem 0.2rem;
    border-top: 2px solid var(--blue);
    border-bottom: 2px solid var(--blue);
    display: flex;
    justify-content: space-between;
}

.color-main{
    font-size: 1.1rem;
    color: var(--blue);
    letter-spacing: 2px;
    text-transform: uppercase;
}

.color-original{
    color: var(--dgray);
    font-size: 1rem;
    letter-spacing: normal;
    text-transform: uppercase;
}

.open-color-btn{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    cursor: pointer;
    filter: invert(32%) sepia(74%) saturate(2062%) hue-rotate(228deg) brightness(102%) contrast(94%);
    transition: all 0.3s ease-out;
}

.open-color-btn img{
    width: 100%;
}

.open-color-btn:hover{
    transform: translateY(-50%) rotate(20deg) scale(1.05);
}