/*STRUCTURE SIDE*/
.sidebar{
    position: relative;
    height: calc(100vh - 70px);
    min-width: 220px;
    padding: 30px 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: .3s linear;
}

.sidebar-toggle{
    position: absolute;
    right: 5px;
    top: 10px;
    height: 15px;
    cursor: pointer;
    transform: rotate(180deg);
    transition: .3s linear;
}

.filter-column{
    height: 100%;
}

.sidebar.minimize{
    width: 35px;
}

.sidebar.minimize .sidebar-toggle{
    transform: rotate(0);
    right: 10px;
}

.parameters{
    margin-bottom: 1rem;
}

.parameter{
    margin: .75rem 0;
}

.parameter-wide{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*FORMAT BTN*/
label.btn-primary{
    padding: 6px 13px;
    cursor: pointer;
    transition-duration: 0.2s;
    margin: 0.5rem 0;
}

label.btn-primary:hover{
    transform: scale(1.05);
}

label.btn-primary:active{
    transform: scale(0.95);
}

input:checked + label.btn-primary{
    color: var(--white);
    background-color: var(--blue);
    border-color: var(--blue);
}

/*INPUT*/
.input-primary{
    border: 2px solid var(--black);
    border-radius: 5px;
    height: 30px;
    color: var(--blue);
    width: 100px;
    font-size: 16px;
    padding: 0 6px;
    margin-left: 1rem;
}

.input-number{
    width: 50px;
    text-align: center;
}

.input-primary:focus{
    border-color: var(--blue);
}

.input-primary.jscolor{
    font-size: 14px;
    width: 140px;
    margin-left: 20px;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 700px) {
    .sidebar{
        width: 100%;
        min-height: 400px;
        max-height: 400px;
        overflow: hidden;
    }

    .sidebar-toggle{
        transform: rotate(270deg);
        border: 1px var(--blue);
        fill: var(--blue);
    }

    .sidebar.minimize{
        width: 100%;
        min-height: 35px;
        max-height: 35px;
        padding: 10px;
    }

    .sidebar.minimize .sidebar-toggle{
        right: 5px;
        transform: rotate(90deg);
        border: 1px var(--blue);
    }
}