.overlay-tutorial{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    position: absolute;
    pointer-events: none;
    background-color: rgba(255,255,255,.7);
    text-align: center;
    padding-top: 30px;
}